body{
	background-color: rgb(209,208,193);
}
#carouselIndicadores{
float: right;

max-width:600px;
max-height: 480px;
margin-top: 20px;
}
#apresentacao{
	margin-top: 20px;
	border: black solid 1px;
	max-width: 100%;
	background-color: rgb(233,242,221);
	max-height: 500px;

}
#apresentacao p{
	font-family: 15px arial !important;
	
} 
#apresentacao h2{
	text-align: center;

}
#rodape footer{
	color:#0a93a6; 
	text-decoration:none;
	
	background-color: #606060;
}
#rodape footer p{
	text-align: center;
}